<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Shoes</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link th:rel="stylesheet" th:href="@{/css/add-product.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div th:replace="fragment::admin-dashboard"></div>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div id="add-product" class="col-lg-9 p-5 mb-5 mt-5">
          <div class="text-center">
            <h3 class="fw-bold mt-2">Enter The Product Details</h3>
          </div>
          <form
            th:action="@{/admin/add-product}"
            th:object="${product}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="col-lg-12 p-3">
              <p class="text-danger" th:text="${productExists}"></p>
              <label for="productName">Product Name:</label>
              <input
                class="form-control"
                type="text"
                id="productName"
                name="productName"
                required="required"
              />
            </div>
            <div class="col-lg-12 mt-2 p-3">
              <label for="description">Description:</label>
              <input
                class="form-control"
                type="text"
                id="description"
                name="description"
                required="required"
              />
            </div>
            <div class="col-lg-12 d-flex">
              <div class="col-lg-6 p-3">
                <label for="price">Price:</label>
                <input
                  class="form-control"
                  type="number"
                  id="price"
                  name="price"
                  required="required"
                />
                <p class="error-message text-danger" id="price-error"></p>
              </div>
              <div class="col-lg-6 p-3">
                <label for="brand">Brand:</label>
                <input
                  class="form-control"
                  type="text"
                  id="brand"
                  name="brand"
                  required="required"
                />
                <br />
              </div>
            </div>

            <div class="col-lg-12 d-flex mt-2">
              <div class="col-lg-6 p-3">
                <label for="gender">Gender:</label><br />
                <select class="form-control" id="gender" name="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="col-lg-6 p-3">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="categoryId">
                  <option hidden value="">Select a Category</option>
                  <th:block th:each="cat : ${categories}">
                    <option
                      th:value="${cat.categoryId}"
                      th:text="${cat.categoryName}"
                    ></option>
                  </th:block>
                </select>
                <div class="col-lg-6 mt-5">
                  <label th:for="thumbnail" class="custom-file-label" th:id="thumbnail-label">
                    <span class="plus-button">+</span> Add Image1
                </label>
                <input hidden th:id="thumbnail" type="file" name="image" accept="image/*" multiple="multiple" onchange="validateFileUpload(this)"  class="input-for-image" />
                <img  th:id="thumbnail-img" class="img-preview" />
                </div>
              </div>
              
            </div>
            <p th:text="${colorError}" class="text-danger"></p>
            <div class="col-lg-12 mt-2 p-3">
              <h3 id="select-variant" class="text-center mt-5 fw-bold">
                Select Variant
              </h3>
            
              <div id="variants" class="col-lg-12">
                <div id="variant-div" class="col-lg-12 mt-3">
                  <div class="col-lg-12 d-flex">
                    <div class="col-lg-4 p-3">
                      <label for="color">Color:</label>
                      <input
                        id="color-input"
                        class="form-control"
                        type="text"
                        name="variants.color"
                        required="required"
                      />
                    </div>
                    <div class="col-lg-4 p-3">
                      <label for="size">Size:</label>
                      <select
                        class="form-control"
                        id="size"
                        name="variants.size"
                      >
                        <option hidden value="">Select a Size</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div class="col-lg-4 p-3">
                      <label for="variantQuantity">Quantity:</label>
                      <input
                        class="form-control"
                        type="text"
                        name="variants.quantity"
                        required="required"
                      />
                    </div>
                    <div class="p-3">
                      <button
                        type="button"
                        class="text-danger fw-bold bg-white border-0"
                        onclick="removeVariant(this)"
                      >
                        X
                      </button>
                    </div>
                  </div>
                </div>
                <!-- This is where we will dynamically add variants -->
              </div>
              <div class="col-lg-12">
                <button
                  type="button"
                  class="bg-white text-primary form-control"
                  th:onclick="addVariant()"
                >
                  <span class="fas fa-plus me-2"></span>Add Variant
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
              <button type="submit" class="btn btn-primary ms-5 form-">
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      
      function validateFileUpload(input) {
        console.log(input.value)
        const imageTag=document.getElementById("thumbnail-img")
        imageTag.style.display="block"
        var file = input.files[0];
             if (file) {
                 var reader = new FileReader();
                 reader.onload = function (e) {
                     imageTag.src = e.target.result;
                 };
                 reader.readAsDataURL(file);
             }
}

     function addVariant() {
        var variantDiv = document.createElement("div");
        variantDiv.className = "mb-3";

        variantDiv.innerHTML = `
       <div id="variant-div" class="col-lg-12 mt-3">
            <div class="col-lg-12 d-flex">
                <div class="col-lg-4 p-3">
                    <label for="color">Color:</label>
                    <input id="color-input" class="form-control" type="text" name="variants.color" required="required">
                </div>
                  <div class="col-lg-4 p-3">
                    <label for="size">Size:</label>
                    <select class="form-control" id="size" name="variants.size">
                        <option hidden value="">Select a Size</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="col-lg-4 p-3">
                    <label for="variantQuantity">Quantity:</label>
                    <input class="form-control" type="text" name="variants.quantity" required="required">
                </div>
                <div class="p-3">
                 <button type="button" class="text-danger fw-bold bg-white border-0" onclick="removeVariant(this)">X</button>
                </div>
            </div>
        </div>
        `;
        document.getElementById("variants").appendChild(variantDiv);
      }

      function removeVariant(button) {
        // Get the parent div (variantDiv) and remove it
        var variantDiv = button.closest(".mb-3");
        variantDiv.parentNode.removeChild(variantDiv);
      }
      function validateForm() {
        var colors = document.querySelectorAll('[name="variants.color"]');
        var price = document.getElementById("price").value;
        var priceError = document.getElementById("price-error");
        var colorError = document.getElementById("color-error");
        priceError.textContent = "";
        priceError.textContent = "";
        valid = true;
        if (!price >= 0) {
          valid = false;
          priceError = "Price should be greater than zero";
        }
        return valid;
      }

     
        document.addEventListener("DOMContentLoaded", function (event) {
  
            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)
  
                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }
  
            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')
  
            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')
  
            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'))
                    this.classList.add('active')
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink))
  
            // Your code to run since DOM is loaded and ready
        });
    </script>
  </body>
</html>
