<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shoose</title>
    <link th:rel="stylesheet" th:href="@{/css/product-list.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="~{fragment::admin-navbar}"></div>
<div class="d-flex justify-content-end p-5">
    <div class="text-danger">
        <p th:text="${categoryExists}"></p>
    </div>
    <form th:action="@{/admin/add-category}" th:method="post" th:object="${category}">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle me-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Category
                </button>
                <div class="dropdown-menu">
                    <input class="form-control" name="categoryName" placeholder="Enter the Category to be added" required>
                    <button class="btn-primary align-center" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

</div>
<div class="me-5 pe-5">
    <table class="table m-5 text-center">
        <thead class="thead-dark bg-secondary  text-white">
        <tr>
            <th>Category id</th>
            <th>Category name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.categoryId}"></td>
            <td th:text="${category.categoryName}" class="fw-bold fs-3" ></td>
            <td>
                <form th:action="@{/admin/rename-category}" th:method="post" th:object="${category}">
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn text-primary dropdown-toggle me-5" type="button" id="d" data-bs-toggle="dropdown" aria-expanded="false">
                               Rename Category
                            </button>
                            <div class="dropdown-menu bg-secondary">
                                <input class="form-control" name="categoryName" placeholder="Enter the new name" required>
                                <button class="btn-primary align-center ms-5 mb-5 mt-2" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>