<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Shoose</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
          <link th:rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link th:rel="stylesheet" th:href="@{/css/add-product.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<body>
<!-- Add a container or section to display images -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 mt-5 d-flex flex-column justify-content-center align-items-center" th:each="image, stat : ${images}">
            <form th:action="@{/admin/change-product-image}" method="post"  enctype="multipart/form-data" th:id="'form_' + ${stat.index}">
               <p>For color <span th:text="${image.color}"></span></p>
                <img th:id="'previewImage_' + ${stat.index}" style="width:300px; height:300px; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);"
                th:src="@{/img/product-images/__${image.image}__}" >
                <input hidden th:value="${image.imageId}" name="imageId">
                <input hidden th:value="${productId}" name="productId" > 
                <input  hidden name="image" th:id="'fileInput_' + ${stat.index}" type="file" accept="image/**" th:onchange="'displayImage(this, \'previewImage_' + ${stat.index} + '\', \'saveButton_' + ${stat.index} + '\', \'fileLabel_' + ${stat.index} + '\')'">
                <label th:id="'fileLabel_' + ${stat.index}" style="font-size: 24px;" th:for="'fileInput_' + ${stat.index}"><i class="fa-solid fa-upload"></i></label>
           <button type="submit" th:id="'saveButton_' + ${stat.index}"  style="border: none; background: none; display: none;" 
         
           >
       <i style="font-size: 24px;" class="fa-solid fa-floppy-disk"></i>
   </button>
            </form>
           
        </div>
        
    </div>
</div>
<script th:inline="javascript">
    function displayImage(input, previewId, saveButtonId, labelId) {
        var productId=[[${productId}]]
        var file = input.files[0];
        console.log("Files:", input.files);
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById(previewId);
                console.log(img)
                img.src = e.target.result;
                document.getElementById(saveButtonId).style.display = 'block';
                document.getElementById(labelId).style.display = 'none'; // Hide the label
            };
            reader.readAsDataURL(file);
        }
    }
    function saveImage(input) {
    console.log(input);
    console.log(input.value);

    const imageId = input.value;
    const image = input.files[0];

    const formData = new FormData();
    formData.append('imageId', imageId);
    formData.append('image', image);

    $.ajax({
        url: '/admin/change-product-image',
        type: 'POST',
        processData: false,
        contentType: false,
        data: formData,
        success: function (response) {
            console.log(response);
        },
        error: function (error) {
            console.error(error);
        }
    });
}


</script>


</body>

</html>
