<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Shoose</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link th:rel="stylesheet" th:href="@{/css/product-list.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div th:replace="~{fragment::admin-dashboard}"></div>
   
 
    <div class="d-flex justify-content-end p-5">
      <a class="btn btn-dark me-5" th:href="@{/admin/add-product}"
        ><spam class="fw-bold"> +</spam> Add product</a
      >
    </div>
    <div class="mx-5">
      <table class="table text-center custom-table">
        <thead class="thead table-dark">
          <tr>
            <th>Product</th>
            <th>id</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.productName}"></td>
            <td>
              <a
                th:text="${product.productId}"
                th:href="@{/admin/product-details/{id}(id=${product.productId})}"
              ></a>
            </td>
            <td th:text="${product.quantity}" class="text-primary"></td>
            <td th:text="${product.actualPrice}" class="text-danger"></td>
            <td>
              <p th:if="${product.isEnabled}" class="text-success">
                Product is Active
              </p>
              <p th:if="${not product.isEnabled}" class="text-danger">
                Product is Blocked
              </p>
            </td>
            <td>
              <form
                th:if="${product.isEnabled}"
                th:method="post"
                th:action="@{/admin/block-product/{productId}(productId=${product.productId})}"
              >
                <input
                  class="text-danger border-0"
                  type="submit"
                  value="Block"
                />
              </form>
              <form
                th:if="${not product.isEnabled}"
                th:method="post"
                th:action="@{/admin/unBlock-product/{productId}(productId=${product.productId})}"
              >
                <input
                  class="text-success"
                  type="submit"
                  value="Unblock"
                />
              </form>
            </td>
            <td th:text="${product.lastUpdated}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function (event) {

          const showNavbar = (toggleId, navId, bodyId, headerId) => {
              const toggle = document.getElementById(toggleId),
                  nav = document.getElementById(navId),
                  bodypd = document.getElementById(bodyId),
                  headerpd = document.getElementById(headerId)

              // Validate that all variables exist
              if (toggle && nav && bodypd && headerpd) {
                  toggle.addEventListener('click', () => {
                      // show navbar
                      nav.classList.toggle('show')
                      // change icon
                      toggle.classList.toggle('bx-x')
                      // add padding to body
                      bodypd.classList.toggle('body-pd')
                      // add padding to header
                      headerpd.classList.toggle('body-pd')
                  })
              }
          }

          showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

          /*===== LINK ACTIVE =====*/
          const linkColor = document.querySelectorAll('.nav_link')

          function colorLink() {
              if (linkColor) {
                  linkColor.forEach(l => l.classList.remove('active'))
                  this.classList.add('active')
              }
          }
          linkColor.forEach(l => l.addEventListener('click', colorLink))

          // Your code to run since DOM is loaded and ready
      });
  </script>
  </body>
</html>
