<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Shoes</title>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    rel="stylesheet"
    type="text/css"
  />
  <link th:rel="stylesheet" th:href="@{/css/cart.css}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link th:rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
 <div th:replace="~{fragment::navbar}"></div>
    <div class="container m-0 p-0 custom-div">
      <div class="row m-0 p-0 d-flex">
         <div class="col-lg-9 col-md-10 col-sm-12 p-5" id="cart-table-div">
           <table  class="table table-striped border shadow-lg">
             <thead id="cart-table" class="table fw-bold table-striped border shadow-lg">
              <tr>
             
               <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Sub Total</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
          </div>
          <div id="cartEmpty" style="height: 200px;">
            <div class="card" style="width: 18rem; text-align: center; margin-top: 102px; margin-left: 626px;">
                <div class="card-body">
                    <h5 class="card-title mt-5 text-danger">Your Cart is Empty</h5>
                    <p class="card-text mt-5">Explore our shop and add some amazing products to your cart.</p>
                    <a th:href="@{/shop}" class="btn btn-primary mt-5">Go To Shop</a>
                </div>
            </div>
        </div>
      <div id="total" class="col-lg-3">
        <div id="total-prize" >
          <div id="total-prize-card" class="card shadow-0 border mt-5" style="height: 255px; width: 421px;">
            <form id="gotocheckout" th:action="@{/user/checkout}" method="post" onsubmit="setamounts(event)">
              <div id="totalCardBody" class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Total price:</p>
                  <div id="sub-total"><span class="text-danger" id="actual-amount">0.00</span></div>
                  <input hidden id="totalMount-input" name="totalAmount">
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Discount:</p>
                  <p  class="mb-2 text-danger" id="discountAmount">0.00</p>
                  <input hidden id="discountAmount-input" name="discountAmount">
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Amount to be payed:</p>
                  <p class="mb-2 text-danger" id="totalSumSpan" ></p>
                  <input hidden id="amountToBepayed-input" name="amountToBePayed">
                </div>
                <div id="place-order-button-div" class="post">
                  <button id="placeOrderButton" class="btn btn-dark" type="submit">Place Order</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="position-absolute w-100 d-flex justify-content-center align-items-center">
  <div id="confirmationModal" class="modal">
    <div class="modal-content w-25 custom-confirmation-modal">
      <p>Are you sure you want to remove this item from the cart?</p>
      <button id="confirmRemove" class="btn btn-danger">Yes</button>
      <button id="cancelRemove" class="btn btn-secondary">No</button>
    </div>
  </div>
</div>
  <div th:insert="~{fragment::footer}"></div>
  <script>
        
    var cartData = [];
    let totalAmountTocheckout;
    function getCartItems() {
      $.ajax({
        url: '/getCartItems', 
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          const products = response;
          console.log(products); 
          const placeOrderbtn=document.getElementById("place-order-button");
          if(products.length===0){
            var cartTablediv=document.getElementById("cart-table-div")
            var cartEmtpy=document.getElementById("cartEmpty")
            cartEmtpy.style.display="block"
            cartTablediv.style.display="none";
            document.getElementById("total-prize-card").style.display = "none";
          }else{
            var cartEmtpy=document.getElementById("cartEmpty")
            cartEmtpy.style.display="none"
            document.getElementById("total-prize-card").style.display = "block";
          }
          const tableBody = $('.table tbody');
          tableBody.addClass('table-body'); 

        
          tableBody.empty();
          let amountToBePayed=0;
          let actualAmount=0;
          let discountAmount=0;
        
          $.each(products, function (index, product) {
            const variantIdToCheck = product.variantId;
            const existingItem = cartData.find(item => item.variantId === variantIdToCheck);
            if (!existingItem) {
              if(product.isCategoryHavingOffer){
                var item={
              variantId : product.variantId,
              quantity : product.quantity,
              actualPrice : product.actualPrice,
              discountPrice:product.discountPrice,
              image : product.image
            }
              }else{
                var item={
              variantId : product.variantId,
              quantity : product.quantity,
                actualPrice : product.actualPrice,
              image : product.image
              }
              }
          
            cartData.push(item);
          }
            const row = $('<tr>');
            row.addClass('custom-table-row');

       
            const productData = $('<td>');
            const imageDiv = $('<div>', { class: 'd-flex p-2' });
            const productImage = $('<img>', {
              id: 'product-image',
              class: 'product-image',
              src: '/img/product-images/' + product.image,
            });
            const productDetails = $('<div>', { class: 'ms-3' });
            const productName = $('<h5>', { text: product.productName });
              const color = $('<p>').text('Color: ' + product.color).css('margin-bottom', '0px');

            const size = $('<p>').text('Size: ' + product.size);

            productDetails.append(productName, color, size);
            imageDiv.append(productImage);
            imageDiv.append(productDetails);
            productData.append(imageDiv);

         
            const quantityData = $('<td>');
            const quantityDiv = $('<div>', { class: 'quantity' });
              const minusButton = $('<button>', { class: 'btn btn-outline-secondary btn-minus', text: '-', id: 'minus' + index });
            let quantityInput = $('<input>', { type: 'number', min: 1, value: product.quantity ,id:"input"+index,disabled: 'disabled'});
            console.log(quantityInput.attr('id'));
            const plusButton = $('<button>', { class: 'btn btn-outline-secondary btn-plus', text: '+', id: index });
              console.log(product.quantity)

            
            if (product.stock === 0) {
                    const stockOutMessage = $('<p>', { text: 'Stock Out', class: 'text-danger' });
                 productDetails.append(stockOutMessage);
                 placeOrderbtn.style.display = "none";

            }

       
            amountToBePayed += product.amountToBePayed;
            actualAmount+=product.actualTotalAmount;
            discountAmount+=product.totalDiscountAmount
              console.log(amountToBePayed);
           console.log(product.stock);
            plusButton.click(function () {
                increaseQuantity(product, plusButton.attr('id'),amountToBePayed);
             });
             minusButton.click(function () {
                decreaseQuantity(product,minusButton.attr('id'),amountToBePayed);
             });

            quantityDiv.append(minusButton, quantityInput, plusButton);
            quantityData.append(quantityDiv);

         
            const priceData = $('<td>');
              if (!product.isCategoryHavingOffer) {

                   const actualPriceWithRupee = $('<span>').text('₹' + product.actualPrice).css('color', 'red');
                   priceData.append(actualPriceWithRupee);
            } else {

                       const actualPriceWithStrikeThrough = $('<s>').text('₹' + product.actualPrice).css('color', 'grey');
                      const discountPriceWithRupee = $('<span>').text('₹' + product.discountPrice).css('color', 'red');
                      priceData.append(actualPriceWithStrikeThrough, ' ', discountPriceWithRupee);
}

            const totalPriceData = $('<td>', { text: product.amountToBePayed ,id:"total"+index, style: 'color: red'});
      
          
            const removeButtonData = $('<td>');
            const removeButton = $('<button>', {
              class: 'btn btn-remove text-danger fw-bold',
              id:"remove"+index,
            });
            const trashIcon = $('<i>', {
           class: 'fas fa-trash',
          });
            removeButton.append(trashIcon);
            removeButtonData.append(removeButton);
            removeButton.click(function () {
                removeItemFromCart(product);
             });

          
            row.append(productData, priceData, quantityData, totalPriceData, removeButtonData);

         
            tableBody.append(row);
          });
          amountToBePayedTocheckout=amountToBePayed;
          console.log("total amount to checkout:"+amountToBePayedTocheckout);
          const amountToBePayedTag=document.getElementById("totalSumSpan");
          const actualAmountTag=document.getElementById("actual-amount")
          const discountAmountTag=document.getElementById("discountAmount")
          actualAmountTag.textContent=actualAmount
          discountAmountTag.textContent=discountAmount
      amountToBePayedTag.textContent=amountToBePayed;
      console.log(cartData)
        },
      });
    
    }

    function increaseQuantity(product,plusButtonId) {
      const inputId = 'input' + plusButtonId;
      const totalId="total"+plusButtonId;
      console.log(inputId)
      const totalPrice=document.getElementById(totalId);
      console.log(totalPrice)
      const input = document.getElementById(inputId);
      console.log(input)
      const currentValue = input.value;
      if(currentValue<product.stock){
        console.log("in this if statement")
        $.ajax({
          url: '/increaseQuantity',
          type: 'GET',
          dataType: 'json',
          data:{variantId:product.variantId},
          success: function(response){
              console.log(" increse quantity response");
          }
         });
        const newValue = Number(currentValue)+1;
        console.log("new value"+newValue)
        const itemToUpdate = cartData.find((item) => item.variantId === product.variantId);
        if (itemToUpdate) {
            itemToUpdate.quantity = newValue;
        }console.log(itemToUpdate);
       var newTotalPrice=Number(totalPrice.textContent) 
       console.log(newTotalPrice)
       console.log("product")
       console.log(product)
        if(product.isCategoryHavingOffer){
          newTotalPrice=Number(totalPrice.textContent)+product.discountPrice;
          console.log(product.discountPrice)
          console.log(newTotalPrice)
        }else{
           newTotalPrice=Number(totalPrice.textContent)+product.actualPrice;

        }
        totalPrice.textContent=newTotalPrice;
        const totalAmountTag=document.getElementById("totalSumSpan");
        const discountAmountTag=document.getElementById("discountAmount")
        let discountAmount=discountAmountTag.textContent;
        let totalAmount = totalAmountTag.textContent;
      
        if(product.isCategoryHavingOffer){
          totalAmount = Number(totalAmount)+product.discountPrice;
        }else{
          totalAmount = Number(totalAmount)+product.actualPrice;
        }   
         let discountPrice=product.actualPrice-product.discountPrice;
           discountAmount=Number(discountAmount)+discountPrice;
        discountAmountTag.textContent=discountAmount;
        const actualAmountTag=document.getElementById("actual-amount")
        let actualAmount=actualAmountTag.textContent;
        actualAmountTag.textContent=Number(actualAmount)+product.actualPrice
         totalAmountTag.textContent = totalAmount;
      input.value = newValue;
      }else{
        quantityExceeds();
      }
}
function setamounts(e){
  e.preventDefault()
  let totalAmountInput=document.getElementById("totalMount-input")
  let discountAmountInput = document.getElementById("discountAmount-input");
  let amountToBePayedInput=document.getElementById("amountToBepayed-input")
  console.log(totalAmountInput)
  console.log(discountAmountInput)
  console.log(amountToBePayedInput)
  const totalAmont=document.getElementById("actual-amount").textContent
  const discountAmount=document.getElementById("discountAmount").textContent
  const amountToBePayed=document.getElementById("totalSumSpan").textContent
  totalAmountInput.value=totalAmont
  discountAmountInput.value=discountAmount
  amountToBePayedInput.value=amountToBePayed
  const form=document.getElementById("gotocheckout")
  form.submit();

}



    function decreaseQuantity(product,minusButtonId) {
      const lastChar = minusButtonId.charAt(minusButtonId.length - 1);
  console.log("Last character as a string:", lastChar);
  const inputId = 'input' + lastChar;
  const totalId="total"+lastChar;
  const totalPrice=document.getElementById(totalId);
      const input = document.getElementById(inputId);
      const currentValue = input.value;
      if (currentValue > 1) {
        $.ajax({
          url: '/decreaseQuantity',
          type: 'GET',
          dataType: 'json',
          data:{variantId:product.variantId},
          success: function(response){
              console.log(response);
          }
         });
        const newValue = Number(currentValue)-1;
        input.value = Number(currentValue)-1;
        const itemToUpdate = cartData.find((item) => item.variantId === product.variantId);
        if (itemToUpdate) {
            itemToUpdate.quantity = newValue;
        }console.log(itemToUpdate);
        var newTotalPrice=Number(totalPrice.textContent)
        if(product.isCategoryHavingOffer){
           newTotalPrice=Number(totalPrice.textContent)-product.discountPrice;
        }else{
          newTotalPrice=Number(totalPrice.textContent)-product.actualPrice;
        }
        totalPrice.textContent=newTotalPrice;
        const totalAmountTag=document.getElementById("totalSumSpan");
        const discountAmountTag=document.getElementById("discountAmount")
        let totalAmount = parseFloat(totalAmountTag.textContent);
        let discountAmount=discountAmountTag.textContent;
        let discount=product.actualPrice-product.discountPrice;
           discountAmount=Number(discountAmount)-discount;
        discountAmountTag.textContent=discountAmount;
        const actualAmountTag=document.getElementById("actual-amount")
        let actualAmount=actualAmountTag.textContent;
        actualAmountTag.textContent=Number(actualAmount)-product.actualPrice
        if(product.isCategoryHavingOffer){
          totalAmount -= product.discountPrice;
        }else{
          totalAmount -= product.actualPrice;

        }
        
         console.log(totalAmount);
         totalAmountTag.textContent = totalAmount;
      }if(currentValue==1){
        minimumQuantity();
      }
    }
    function removeItemFromCart(product){
      const variantIdToRemove = product.variantId;
      const confirmationModal = document.getElementById('confirmationModal');
  const confirmButton = document.getElementById('confirmRemove');
  const cancelButton = document.getElementById('cancelRemove');
  confirmationModal.style.display = 'block';

  confirmButton.addEventListener('click', function () {
    const itemIndexToRemove = cartData.findIndex((item) => item.variantId === variantIdToRemove);

        if (itemIndexToRemove !== -1) {
           
            cartData.splice(itemIndexToRemove, 1);
            console.log(variantIdToRemove);
            console.log(cartData);
        }
    $.ajax({
      url: '/removeItemFromCart',
      type: 'GET',
      data: { variantId: product.variantId },
      success: function (response) {
       removeSuccess();
       getCartItems();
      },
    });
    console.log("modal is active");

    confirmationModal.style.display = 'none';
  });

  cancelButton.addEventListener('click', function () {
    confirmationModal.style.display = 'none';
  });
        console.log(product);
    }

    function quantityExceeds(){
      Toastify({
  text: "Quantity cannot be increased. Stock is insufficient.",
  duration: 1000,
  newWindow: true,
  close: false,
  gravity: "top",
  position: "center", 
  stopOnFocus: true, 
  style: {
    background: "red",
  },
  onClick: function(){} 
}).showToast();
    }
    function minimumQuantity(){
      Toastify({
  text: "You must select atlead one quantity.",
  duration: 1000,
  newWindow: true,
  close: false,
  gravity: "top",
  position: "center", 
  stopOnFocus: true, 
  style: {
    background: "red",
  },
  onClick: function(){} 
}).showToast();
    }

    function removeSuccess(){
      Toastify({
  text: "Item removed successfully.",
  duration: 1000,
  newWindow: true,
  close: false,
  gravity: "top",
  position: "center", 
  stopOnFocus: true, 
  style: {
    background: "green",
  },
  onClick: function(){} 
}).showToast();
    }
    getCartItems();
    console.log(JSON.stringify(cartData));

//     document.getElementById("placeOrderButton").addEventListener("click", function () {
//       console.log(cartData+"lsdfosifhsoifgwhsfgiohwsfgiowhsgiow");
// document.getElementById("cartDataField").value = JSON.stringify(cartData);
// document.getElementById("totalAmountField").value = JSON.stringify(totalAmountTocheckout);
//         document.getElementById("checkoutForm").submit();
    // });
  </script>
</body>
</html>
