<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Shoose</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
    />
    <link th:rel="stylesheet" th:href="@{/css/userlogin.css}">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<!--    <h6 class="text-info">Shoose</h6>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" th:id="loginimg">
            <img th:src="@{/img/change-password.png}"   alt="">
        </div>
        <div class="col-lg-6">
            <div id="loginform">
                <div class="text-center">
                    <h3 class="text-info">Change Password</h3>
                </div>
                <form th:action="@{/new-password}" method="post">
                    <div class="form-group">
                        <input type="text" name="password" class="form-control" id="password" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="cpassword" placeholder="Confirm New Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
