<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Shoose</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
    />
    <link th:rel="stylesheet" th:href="@{/css/usersignup.css}">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" th:id="loginimg">
            <img th:src="@{/img/sign-up.png}" alt="">
        </div>
        <div class="col-lg-6">
            <div id="loginform">
                <div class="text-center">
                    <h3 class="fw-bold text-info">Register</h3>
                </div>
                <form th:method="post" th:action="@{/register}" onsubmit="return validateForm()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username">
                        <p class="error-message text-danger" id="username-error"></p>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your email">
                        <p class="error-message text-danger" id="email-error"></p>
                    </div>
                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Your Password">
                        <span id="eye2" class="password-toggle-icon" onclick="togglePassword('password', 'password-toggle')">
                            <i class="far fa-eye" id="password-toggle"></i>
                        </span>
                        <p class="error-message text-danger" id="password-error"></p>
                    </div>
                    <div class="form-group">
                        <label for="cpassword"></label>
                        <input type="password" name="password" class="form-control" id="cpassword" placeholder="Confirm Your Password">
                        <span id="eye1" class="password-toggle-icon" onclick="togglePassword('cpassword', 'cpassword-toggle')">
                            <i class="far fa-eye" id="cpassword-toggle"></i>
                        </span>
                        <p class="error-message text-danger" id="cpassword-error"></p>
                        <div>
                            <div id="password-mismatch" class="text-danger"></div>
                            <p th:text="${mailError}" class="text-danger"></p>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                        <div class="text-center form-group">
                            <p>Already Have an Account? <a th:href="@{/login}">Sign In</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePassword(inputId, toggleId) {
        var input = document.getElementById(inputId);
        var inputType = input.getAttribute("type");
        if (inputType === "password") {
            input.setAttribute("type", "text");
            document.getElementById(toggleId).classList.remove("fa-eye");
            document.getElementById(toggleId).classList.add("fa-eye-slash");
        } else {
            input.setAttribute("type", "password");
            document.getElementById(toggleId).classList.remove("fa-eye-slash");
            document.getElementById(toggleId).classList.add("fa-eye");
        }
    }

    function validateForm() {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var cpassword = document.getElementById("cpassword").value;
        var isValid = true;

        var usernameError = document.getElementById("username-error");
        var emailError = document.getElementById("email-error");
        var passwordError = document.getElementById("password-error");
        var cpasswordError = document.getElementById("cpassword-error");

        usernameError.textContent = "";
        emailError.textContent = "";
        passwordError.textContent = "";
        cpasswordError.textContent = "";

        if (!username) {
            usernameError.textContent = "Username is required.";
            isValid = false;
        } else if (!/^[a-zA-Z0-9._%+-]{3,}$/.test(username)) {
            usernameError.textContent = "Username should contain only alphanumeric characters and be at least 3 characters long.";
            isValid = false;
        }

        if (!email) {
            emailError.textContent = "Email is required.";
            isValid = false;
        } else if (!/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/.test(email)) {
            emailError.textContent = "Please enter a valid email address.";
            isValid = false;
        }

        if (!password) {
            passwordError.textContent = "Password is required.";
            isValid = false;
        } else if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!])[A-Za-z\d@#$%^&+=!]{8,20}$/.test(password)) {
            passwordError.textContent = "Password should contain at least one uppercase letter,one lowercase letter,a special character and a number. Password length should be between 8 and 20 characters";
            isValid = false;
        }

        if (!cpassword) {
            cpasswordError.textContent = "Confirm Password is required.";
            isValid = false;
        } else if (password !== cpassword) {
            cpasswordError.textContent = "Password mismatch.";
            isValid = false;
        }

        return isValid;
    }
</script>
</body>
</html>
