<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoose</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:rel="stylesheet" th:href="@{/css/shop.css}" />
    <style>
      .card {
        margin-bottom: 20px;
      }

      .card-body {
        min-height: 150px; /* Set a fixed minimum height for the card body */
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
        class="navbar bg-body-tertiary p-3"
        style="border-bottom: 1px solid black"
      >
        <div
          class="container-fluid d-flex justify-content-between align-items-middle"
          style="background-color: white"
        >
          <div class="align-self-start">
            <a class="navbar-brand" th:href="@{/home}">
              <img
                th:src="@{/img/logo.png}"
                style="height: 60px; width: 150px"
                alt=""
              />
            </a>
          </div>
          <div class="me-5">
            <div class="d-flex gap-5 align-items-center">
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-info text-white" type="submit">
                  Search
                </button>
              </form>
              <div>
                <a class="text-decoration-none text-dark" th:href="@{/user/cart}">
                  <i class="fa-solid fa-cart-shopping"></i><span> Cart</span>
                </a>
              </div>
              <div
                      th:if=" ${#authorization.expression('isAuthenticated()')}"
              >
              <a class="text-decoration-none text-dark" th:href="@{/user/profile}">profile</a>
              </div>
              <div>
                <a class="text-decoration-none text-dark" href="">
                  <i class="fa-solid fa-cart-shopping"></i><span> Shop</span>
                </a>
              </div>
              <div>
                <div>
                  <div>
                    <form th:if="${#authorization.expression('isAuthenticated()')}"  method="post" th:action="@{/logout}">
                      <button style="background: none; border: 0;" type="submit" class="text-dark" 
                      ><i class="fas fa-sign-out-alt me-2"></i></button
                    >
                    </form>
                    <a th:if="not ${#authorization.expression('isAuthenticated()')}" th:href="@{/login}">Sign In<i class="fas fa-sign-out-alt me-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container-fluid">
      <div class="row ms-3">
        <div th:if="${productList}"
          th:each="product : ${productList}"
          class="col-lg-3  col-md-4  col-6">
          <div style="  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);" class="card">
            <div  class="img">
              <img
                class="card-img-top"
                th:src="@{/img/product-images/__${product.image}__}"
              />
            </div>
            <div  class="card-body position-relative">
              <h5 class="card-title">
                <b><span th:text="${product.brand}"></span></b>
              </h5>
              <p th:text="${product.productName}" class="card-text"></p>
              <p th:unless="${product.isCategoryHavingOffer}" class="price card-text text-danger">
                <span >₹<span th:text="${product.actualPrice}"></span></span>
            </p>
              <p th:if="${product.isCategoryHavingOffer}" class="price card-text text-danger">
              <span style="text-decoration: line-through;" class="me-3" th:text="${product.actualPrice}"></span>₹<span th:text="${product.discountPrice}"></span>
          </p>
              <a
                th:href="@{'/product-details?productId=' + ${product.productId}}"
                class="cardbutton btn"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div th:unless="${not #lists.isEmpty(productList)}" style="height: 500px;">
          <h3 class="text-center mt-5 text-danger">No products available for this category.  <br> <a class="mt-5" th:href="@{/shop}">Get All Products</a></h3>
        
        </div>
      </div>
    </div>
      <div th:include="~{fragment::footer}"></div>
  </body>
</html>
