    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
padding:0;
margin:0;
background-color:rgb(238,238,238);
}
.homelogo{
position:absolute;
margin-top:20px;
margin-left:30px;
z-index:1;
font-family: 'Righteous', cursive;
}
h6{
font-size:50px;
}
img{
width:100vw;
}
.card{
height:400px;
width:300px;
margin-top:20px;
text-align:center;
} */


.card-image-top{
    height: 300px;
}