#image-container{
width:50px;
height:80px;

}
#large-image{
width:400px;
height:300px;}

.out-of-stock {
    color: red;
}

.in-stock {
    color: green;
}
.large-image-container{
width:600px;
height:450px;}



