#sidebar{
width:200px;
height:400px;
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
#profile-details{

margin-top:80px;
}
#change-password{
margin-top:80px;
}
#password1-toggle{
    margin-left: 390px;
    margin-top: -28px;
    position: absolute;
}
#password2-toggle{
    margin-left: 390px;
    margin-top: -28px;
    position: absolute;
}
#password3-toggle{
       margin-left: 390px;
       margin-top: 43px;
       position: absolute;
}


#sidebar-user{
width:350px;
border-radius: 20px;

}
#userDetails{
border-radius:20px;
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); /* Add more shadow to the container */
width:350px;

}
#user-icon{
font-size:80px;
border-radius:40px;

}
#username-change-button{
width:100px;
}
#address{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
#add-address-button{
border:none;
}#add-btn{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
height:60px;
}
.add-man{
border:none;
background-color:white;
}
#form1{
width:100px;
}

#coupon{
height:200px;
}
#amount{
height:250px;}






